<div class="col-lg-12">
	<hr{% if setTheme == "dark" %} class="hr-dark"{% elif setTheme == "orange" %} class="hr-orange"{% endif %} />
	<h3 class="embed-title">{{ title1 }}</h1>
	<p class="embed-date-author">{{ author1 }}, {{ date1 }}</p>
        <div class="col-md-4">
		<p class="embed-tagline">{{ tagline1 }}</p>
		<a class="{% if setTheme == "dark" %}a-dark {% elif setTheme == "orange" %}a-orange {% endif %}embed-link" href="{{ url1 }}">Read more...</a>
		<br />
	</div>
	<div class="col-md-8">
		{% if picture1 %}<img src="{{picture1}}" />{% endif %} 
	</div>
</div>

	

<div class="col-lg-12">
	<hr{% if setTheme == "dark" %} class="hr-dark"{% elif setTheme == "orange" %} class="hr-orange"{% endif %} />
	<h3 class="embed-title">{{ title2 }}</h1>
	<p class="embed-date-author">{{ author2 }}, {{ date2 }}</p>
        <div class="col-lg-4">
        	<p class="embed-tagline">{{ tagline2 }}</p>
		<a class="{% if setTheme == "dark" %}a-dark {% elif setTheme == "orange" %}a-orange {% endif %}embed-link" href="{{ url2 }}">Read more...</a>
		<br />
	</div>
	<div class="col-lg-8">
		{% if picture2 %}<img src="{{picture2}}" />{% endif %}
	</div>
</div>


<div class="col-lg-12">
	<hr{% if setTheme == "dark" %} class="hr-dark"{% elif setTheme == "orange" %} class="hr-orange"{% endif %} />
	<h3 class="embed-title">{{ title3 }}</h1>
	<p class="embed-date-author">{{ author3 }}, {{ date3 }}</p>
        <div class="col-lg-4">
		<p class="embed-tagline">{{ tagline3 }}</p>
		<a class="{% if setTheme == "dark" %}a-dark {% elif setTheme == "orange" %}a-orange {% endif %}embed-link" href="{{ url3 }}">Read more...</a>
		<br />
	</div>
	<div class="col-lg-8">
		{% if picture3 %}<img src="{{picture3}}" />{% endif %}
	</div>
</div>


<div class="col-lg-12">
	<hr{% if setTheme == "dark" %} class="hr-dark"{% elif setTheme == "orange" %} class="hr-orange"{% endif %} />
	<h3 class="embed-title">{{ title4 }}</h1>
        <div class="col-lg-4">
		<p class="embed-tagline">{{ tagline4 }}</p>
		<a class="{% if setTheme == "dark" %}a-dark {% elif setTheme == "orange" %}a-orange {% endif %}embed-link" href="{{ url4 }}">Read more...</a>
		<br />
	</div>
	<div class="col-lg-8">
		{% if picture4 %}<img src="{{picture4}}" />{% endif %}
	</div>
</div>


<div class="col-lg-12">
	<hr{% if setTheme == "dark" %} class="hr-dark"{% elif setTheme == "orange" %} class="hr-orange"{% endif %} />
	<h3 class="embed-title">{{ title5 }}</h1>
        <div class="col-lg-4">
		<p class="embed-tagline">{{ tagline5 }}</p>
		<a class="{% if setTheme == "dark" %}a-dark {% elif setTheme == "orange" %}a-orange {% endif %}embed-link" href="{{ url5 }}">Read more...</a>
		<br />
	</div>
	<div class="col-lg-8">
		{% if picture5 %}<img src="{{picture5}}" />{% endif %}
	</div>
</div>
